.footer {
  display: flex;
  padding-left: 90px;
  padding-right: 90px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 1280px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  height: 79px;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__copyright {
  min-width: 148px;
  font-size: 18px;
  vertical-align: middle;
  text-align: right;
}
